.env*
mcp
rispecs/
.env
TUG.md
.mia
.mia-code
.ava
.pva
.miawa
.mw
.context/
.pi
etc
llms
.hch
output
CNAME
.pde
mcp
src
context7.json
etc
scripts
TUG.md
*.code-workspace
KINSHIP.md
*.sh
MINO.md
output
CNAME
